.icon-img{	width: 75px;}

.purple{background:#42007C;}
.gray{background: #EBEBEB;}
.blue {background:#40E0D0;}
.separacion {padding-bottom:40px !important;}
.hero-section .content{	margin: auto auto; margin-right: 0; padding-right: 2%; border-right: solid 2px white;}
.hero-section .counter{	font-weight: 300; color:white; font-size: 0.7rem; text-align: right;}
.hero-section .button{	margin: auto auto; margin-left: 0; padding-left: 2%;}

footer a.active, footer  a:active, footer  a:focus, footer  a:hover{color:white !important;}

